/* Scroll top */

#btn-scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 35px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    border-radius: 24px;
    width: 40px;
    height: 40px;
}

#img_scroll {
    width: 40px;
    height: 40px;
    margin: -1px 0px 0px -6px;
}


/* End scroll top */