h2 {
    text-align: center;
}

p {
    text-align: center;
}

.content-education-text {
    justify-content: center;
}

.content-education-img {
    justify-content: center;
    padding: 5% 8%;
}

.ultilities {
    justify-content: center;
    padding: 20px 30%;
    height: min-content;
}

.content-news-event {
    padding: 20px 30%;
    height: min-content;
    justify-content: center;
    background-color: brown;
    height: 500px;
    border: 1px solid brown;
}

.container-footer {
    display: flex;
    flex-direction: row;
    padding: 2% 10%;
    background-color: cornflowerblue;
}

footer {
    background-color: #043550;
    padding: 3%;
}

.tencs {
    color: white;
}


/* Scroll top */

#btn-scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 35px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    border-radius: 24px;
    width: 40px;
    height: 40px;
}

#btn-scroll-top:hover {
    background-color: rgb(221, 141, 141);
}

#img_scroll {
    width: 30px;
    height: 32px;
}


/* End scroll top */