.noi-dung-footer {
    border-bottom: 1px solid white;
}

.footer {
    background-color: #0077B8;
    padding-top: 30px;
}

.font {
    color: #FFF;
    padding-left: 0;
    line-height: 26px;
}

.dieu-kien {
    color: white;
}

.dieu-kien:hover {
    color: wheat;
    text-decoration: none;
}

.tieu-de-lon {
    font-size: 24px;
    padding: 10px 0px 0px 0px;
    color: #0082c8;
    line-height: 24px;
}

.xem-tiep {
    text-align: right;
    color: orangered;
    padding-top: 50px;
}

a:hover,
.xem-tiep:hover {
    text-decoration: none;
    color: red;
}

.tieu-de-nho {
    font-size: 12px;
    color: #999;
}

.tin-tuc-phu {
    font-size: 14px;
}

.line {
    border-top: 1px dashed black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.copyRight {
    color: white;
    font-style: italic;
}

.active {
    color: #337ab7 !important;
    background-color: whitesmoke !important;
    border: 1px solid #ddd;
    cursor: no-drop;
}